@import url(http://fonts.googleapis.com/css?family=Open+Sans:800italic|Raleway:400,100,200,300,500,600,700,800,900);

ul.mylist 

{
	
	font-weight:bold;
	text-align:justify;
	padding-left:10px;
	font-size:14px;
	list-style-type: none;
  
}

ul.mylist li

{
	
	padding: 0px 0px 0px 22px;
	background-image: url("../images/check.png");
	background-repeat: no-repeat;
	background-position: 2px 2px;
	margin: 15px -20px 0px;

}
 
body {
font-size: 13px;
background: #fff;
color: #121212;
line-height: 1.5em;
font-weight: 400;
font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
line-height: 1.6;
margin-top: 0px;
margin-bottom: 10px;
} 
h1
{
font-size:5rem;
}
h2
{
font-size: 4rem;
}

h3
{
font-size:2.5rem;
}

h4
{
font-size:2rem;
}

h5
{
font-size:1.5rem;
}
h6
{
font-size:1rem;
}
p
{
font-size:20px;
text-align: center;
color: #FFF;
}
.btn
{
text-transform: uppercase;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border-bottom: 3px solid rgba(25, 118, 3, 0);
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-o-transition: all .5s ease;
transition: all .5s ease;
padding: 10px 20px;
line-height: 20px;
border:2px solid transparent;
}

.divider
{
padding-bottom: 40px;
width:80%;
clear:both;
margin:0 auto;
display: block;
/* background: red; */
margin-bottom: 40px;
}
.divider.red
{
border-bottom:5px solid red;
}
.topborder
{
border-top:1px solid #fff;
opacity: .2;
}
.botborder
{
border-bottom: 1px solid #D5D5D5;
opacity: .2;
}

#navigation
{
    margin-top: 0px;
    background: #5cab44;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
#navigation li
{
width:25%;
margin: 0px;
line-height: 50px;
height: 50px;
position: relative;
}
#navigation li:hover a:before
{
-webkit-transition: all 0.3s ease-in-out !important;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
width:100%;
background: rgba(0, 0, 0, 0.19);

}
#navigation li a:before
{
content: " ";
/* display: block; */
position: absolute;
right: 0;
top: 0;
width: 4px;
height: 100%;
z-index: -999;
}
#navigation li.first
{
background:#ffb849;
}
#navigation li.two
{
background: #f74d4d;
}
#navigation li.third
{
background: #5cc698;
}
#navigation li.fourth
{
background: #4db0dc;
}
#navigation li.five
{
background: #162F47;
}
#navigation li.six
{
background: #593A38;
}
#navigation li.seven
{
background: #1F332E;
}
#navigation li.eight
{
background: #4190F3;
}
.header-wrapper {
background: #050b10;
width: 100%;
height: 50px;
z-index: 9999;
position:relative;
}
.bxds{
width: 20%;
background: #000;
line-height: 50px !important;
opacity: .5;
float: right;
text-align: center;
color: #fff;
}

#navigation li:hover span .bxds{
-webkit-transform: translateY(-2%);
-moz-transform: translateY(-2%);
transform: translateX(-2%);
background: #7fc242;
color: #FFF;
opacity: 1;
}
.header-wrapper.is-sticky
{
background:none;
}

/*/Header*/
/*Common*/

h1
{
font-size:10rem;
}
h2
{
font-size: 6rem;
}
h3
{
font-size: 5rem;
}
h4
{
font-size: 3rem;
}
h5
{
font-size: 2rem;
}
/*/Common*/

#work
{
background: rgb(89,58,56); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(89,58,56,1) 26%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(26%,rgba(89,58,56,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(89,58,56,1) 26%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(89,58,56,1) 26%,rgba(0,0,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(89,58,56,1) 26%,rgba(0,0,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(89,58,56,1) 26%,rgba(0,0,0,1) 100%); /* W3C */

}

#work h2
{
color:#fff;
text-align: center;
background: #5cc698;
margin-bottom: 13%;
}

#despre
{
background: rgb(22,47,71); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(26%,rgba(22,47,71,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* W3C */
padding: 11% 0px;

}
#despre h2
{
color:#fff;
text-align: center;
}
#despre h4
{
color:#fff;
font-weight: 500;
text-align: center;
}
#despre h5
{
color:#fff;
font-weight: 200;
text-align: center;
}

#obj
{
background: rgb(22,47,71); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(26%,rgba(22,47,71,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* W3C */
padding: 11% 0px;

}

#obj h2
{
color:#fff;
text-align: center;
background: #f74d4d;
margin-bottom: 13%;
}

#info
{
background: rgb(22,47,71); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(26%,rgba(22,47,71,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* W3C */
padding: 11% 0px;

}

#info h2
{
color:#fff;
text-align: center;
background: #1F332E;
margin-bottom: 13%;
}

#contact
{
background: rgb(22,47,71); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(26%,rgba(22,47,71,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(22,47,71,1) 26%,rgba(0,0,0,1) 100%); /* W3C */
padding: 11% 0px;

}

#contact h2
{
color:#fff;
text-align: center;
background: #4190F3;
margin-bottom: 13%;
}

.tp-skill
{
	background: rgba(255, 255, 255, 0.4);
	padding:15px;
	margin-bottom: 20px;
}

.glyphicon {font-size: 3em; color:
#fff}
.reds, .grn, .yellw, .grn2, .blu, .blu2

{
	float:left;
	padding:10px;
	-webkit-border-radius: 44%;

	-moz-border-radius: 43%;

	margin-right: 10px;
	border-radius: 101%;
	/* width: 18%; */
	text-align: center;
	color: #fff;
}
.yellw

{
	width: 80px ;
	background:#ffcc33;
}

.grn

{
	width: 80px ;	
	background:#5cc698;
}
.reds

{
	width: 80px ;
	background: #f74d4d;
}
.grn2

{
	width: 80px ;
	background:#8cbb50;
}
.blu

{
	width: 80px ;
	background:#4190f3;
}
.blu2

{
	width: 80px ;
	background:#4db0dc;
}

.skillhead
{
	font-size:18px;
	font-weight:bold;
	line-height:1.4;
	text-align: justify;
}


.skillpara
{
	font-size:16px;
	line-height:1.4;
	min-height: 38px;
	font-weight:500;
	text-align: justify;
}

#studii
{
background: rgb(89,58,56); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(89,58,56,1) 26%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(26%,rgba(89,58,56,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(89,58,56,1) 26%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(89,58,56,1) 26%,rgba(0,0,0,1) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(89,58,56,1) 26%,rgba(0,0,0,1) 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(89,58,56,1) 26%,rgba(0,0,0,1) 100%); /* W3C */

}

#studii h2
{
color:#fff;
text-align: center;
background: #4db0dc;
margin-bottom: 5%;
}
#studii h4
{
color:#fff;
font-weight: 500;
text-align: center;
}
#studii h5
{
color:#fff;
font-weight: 200;
text-align: center;
}
    #owl-demo .item img{
      display: block;
      width: 100%;
      height: auto;
    }
    #bar{
      width: 0%;
      max-width: 100%;
      height: 4px;
      background: #7fc242;
    }
    #progressBar{
      width: 100%;
      background: #EDEDED;
    }

#skills
{
background: rgb(31,51,46); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(31,51,46,1) 23%, rgba(0,0,0,1) 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(23%,rgba(31,51,46,1)), color-stop(99%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(31,51,46,1) 23%,rgba(0,0,0,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(31,51,46,1) 23%,rgba(0,0,0,1) 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(31,51,46,1) 23%,rgba(0,0,0,1) 99%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(31,51,46,1) 23%,rgba(0,0,0,1) 99%); /* W3C */
}

#skills h2
{
color:#fff;
text-align: center;
background: #162F47;
margin-bottom: 5%;
}
#skills h4
{
color:#fff;
font-weight: 500;
text-align: center;
}
#skills h5
{
color:#fff;
font-weight: 200;
text-align: center;
}
.con-left, .con-right
{
background: rgba(255, 255, 255, 0.4);
color:#fff;
padding:15px;
overflow:hidden;
}
.con-left a, .con-right a
{
color:#fff;
}
.con-left .con-f1
{
padding-bottom:30px;
}
.con-left .con-f2
{
padding-bottom:10px;
}
.con-left .con-f3
{
padding-bottom:10px;
font-size: 25px;
}
.con-left .con-f4
{
padding-bottom:10px
}
.con-left .con-f4 a
{
    background: #4db0dc;
    width: 80%;
    display: block;
    border-bottom: 5px solid #0083BD;
}

.con-left .con-f4 a span
{
    font-size: 22px;
    padding: 11px 20px;
    text-transform: uppercase;
    border-left: 1px solid #5384AF;
}

.con-left .con-f4 a i
{
    border-right: 1px solid #66B8FF;
    padding: 10px;
}
.con-left .con-f5 a
{
    background: #4db0dc;
    width: 80%;
    display: block;
    border-bottom: 5px solid #0083BD;
}
.con-left .con-f5 a:hover, .con-left .con-f4 a:hover
{
    background: #0083BD;
	text-decoration:none;
}

.con-left .con-f5 a span
{
    font-size: 22px;
    padding: 11px 20px;
    text-transform: uppercase;
    border-left: 1px solid #5384AF;
}

.con-left .con-f5 a i
{
    border-right: 1px solid #66B8FF;
    padding: 10px;
}
.con-left .con-f5
{
padding-bottom:10px
}
input[type="text"]
{
margin-bottom: 16px;
width: 96%; 
padding:5px 2%;
margin-left: 0px;
border:0px;
color: #333;
background: #fff;
}

input[type="button"]
{
    background: #4db0dc;
    width: 40%;
    display: block;
	border:0px;
    border-bottom: 5px solid #0083BD;
	font-size:22px;
	height:40px;
	line-height:40px;
	text-transform:uppercase;
}
input[type="button"]:hover
{
    background: #0083BD;
	text-decoration:none;
}
.phone  a i, .phone  a span
{
font-size:20px;
}

/*Media Css*/

@media all and (min-width: 1000px) {
html,body{height:100%;}

.fill{
    width:100%;
    min-height: 100%;
    height: 100%;
    /* background-color:#990000; */
    /* padding:10px; */
    /* color:#efefef; */
}
@media all and (max-width: 767px) {
#navigation li
{
width:100%;
}
}

* {
  box-sizing: border-box;
}

html {
  font: 14px/1.4 Sans-Serif;
}

form {
  /* width: 320px; */
  float: left;
  margin: 20px;
}
form .col-md-8 {
  position: relative;
  overflow: hidden;
}
form input, form textarea {
  width: 100%;
  border: 2px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
form input:valid, form textarea:valid {
  background: white;
}
form input:focus, form textarea:focus {
  border-color: #f06d06;
}
form input:focus + label, form textarea:focus + label {
  background: #f06d06;
  color: white;
  font-size: 10px;
  padding: 0px 6px;
  z-index: 2;
  text-transform: uppercase;
  font-weight: normal;
  height: 33px;
}
form label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}
form textarea {
  display: block;
  resize: vertical;
}

form.go-bottom input, form.go-bottom textarea {
  padding: 12px 12px 12px 12px;
}
form.go-bottom label {
  /* top: 0; */
  bottom: 0;
  left: 15px;
  width: 100%;
}
form.go-bottom input:focus, form.go-bottom textarea:focus {
  padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
  top: 100%;
  margin-top: -16px;
}

form.go-right label {
  top: 2px;
  right: 100%;
  width: 100%;
  margin-right: -100%;
  bottom: 2px;
}
form.go-right input:focus + label, form.go-right textarea:focus + label {
  right: 0;
  margin-right: 0;
  width: 40%;
  padding-top: 5px;
}

#proiecte
{
background: rgb(31,51,46); /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  rgba(31,51,46,1) 23%, rgba(0,0,0,1) 99%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(23%,rgba(31,51,46,1)), color-stop(99%,rgba(0,0,0,1))); /* 

Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  rgba(31,51,46,1) 23%,rgba(0,0,0,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  rgba(31,51,46,1) 23%,rgba(0,0,0,1) 99%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  rgba(31,51,46,1) 23%,rgba(0,0,0,1) 99%); /* IE10+ */
background: radial-gradient(ellipse at center,  rgba(31,51,46,1) 23%,rgba(0,0,0,1) 99%); /* W3C */

padding-bottom: 5%;
}

#proiecte h2
{
color:#fff;
text-align: center;
background: #593A38;
margin-bottom: 5%;
}
#proiecte h4
{
color:#fff;
font-weight: 500;
text-align: center;
}
#proiecte h5
{
color:#fff;
font-weight: 200;
text-align: center;
}
    #owl-demo .item img{
      display: block;
      width: 100%;
      height: auto;
    }
    #bar{
      width: 0%;
      max-width: 100%;
      height: 4px;
      background: #7fc242;
    }
    #progressBar{
      width: 100%;
      background: #EDEDED;
    }
	
.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 10px 40px;
	margin: 0px 10px 10px 0px;
	border-radius: 10px;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;	
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.redbtn
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}